{% extends 'Lombard/includes/frame.html' %}

{% block main_section %}

<div class="main">
    <h2 class="info-title"> {{ info.First_name }} {{ info.Last_name }} </h2>
    <div class="info-container">
        <div class="info-frame">
            <p class="get-employees-p"> <span>Должность:</span> {{ post.content }} </p>
        </div>
        <div class="info-frame">
            <p class="get-employees-p"> <span>Заработная плата:</span> {{ post.Salary }} </p>
        </div>
        <div class="info-frame">
            <p class="get-employees-p"> <span>Название отдела:</span> "{{ division.Division_name }}" </p>
        </div>
        <div class="info-frame">
            <p class="get-employees-p"> <span>Адрес отдела:</span> {{ division.Street_address }} </p>
        </div>
    </div>
</div>

{% endblock main_section %}