{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="{% static 'Lombard/css/index.css' %}">
    <link rel="icon" href="{% static 'Lombard/img/favicon.ico' %}">
</head>
<body>

    <div class="container">
        <div class="nav">
            <a href="{% url 'home' %}" class="nav-solo-a"> Главная </a>

            <p>
                <a href="{% url 'employees' %}"> Сотрудники </a>
                <a href="{% url 'contracts' %}"> Контракты </a>
                <a href="{% url 'tools' %}"> Инструменты </a>
            </p>
        </div>

      {% block main_section %}
      {% endblock %}
    </div>
</body>
</html>